html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px; 
  height: 60px;
  background-color: #ffffff;
  color: #ffffff; 
  text-align:center;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.titleLogin {
  padding: 10px;
}

.tableFix {
  overflow: auto;
  height: 70vh;
}

.table thead th {
  position: sticky;
  top: -2px; z-index: 1;
}

.table td {
  padding: 0.3em;
  text-align: center;
  vertical-align: middle;
}

.table th {
  background:#fff;
}